button {
  font-size: x-large;
  font-weight: bolder;
  font-family: monospace;
  margin: 1vw;
}
input {
  width: 30vw;
  font-size: x-large;
  text-align: center;
}
.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.rounded-corners {
  border-radius: 25px;
}
.column {
  display: flex;
  flex-flow: column;
  align-items: center;
}
.row {
  display: flex;
  flex-flow: row;
  align-items: center;
  justify-content: space-around;
}
.navbar {
  background-color: red;
  height: 15vh;
  width: 100vw;
}

.main-area {
  width: 70vw;
  height: 80vh;
}
.right-bar {
  color: antiquewhite;
  background-color: #282c34;
  width: 25vw;
  height: 80vh;
  margin-left: 2vw;
  margin-right: 2vw;
  overflow: scroll;
}
.logo {
  height: 12vh;
}
.screen {
  width: 45vw;
  height: 50vh;
  background-color: silver;
  margin: 2vh;
  justify-content: space-around;
}
.screen-image {
  height: 40vh;
  object-fit: contain;
}
.bottom-box {
  width: 50vw;
  height: 20vh;
  background-color: silver;
}
.nav-button {
  width: 8vw;
  height: 6vh;
}
.team-button {
  background-color: #4776f8;
  color: antiquewhite;
}
.history-button {
  background-color: #fffc0b;
  color: #282c34;
}
.error {
  font-size: 10vh;
}

.pokemon-card {
  color: #282c34;
  background-color: silver;
  width: 15vw;
  height: 25vh;
  margin: 3px;
  border: 1px darkgray;
}
.stats-display {
  width: 100%;
  justify-content: space-evenly;
}
.stat-box {
  margin: 3px;
}
.search-button {
  font-size: xx-large;
}
.stat-entry {
  font: xx-large;
  font-weight: bolder;
}
